#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-hmg.xcconfig"
#include "Generated.xcconfig"

// Homologation configuration for Profile-hmg
PRODUCT_BUNDLE_IDENTIFIER = com.example.baseapp.hmg
PRODUCT_NAME = BaseApp-hmg
DISPLAY_NAME = Base App-hmg

// Firebase configuration file
FIREBASE_CONFIG = GoogleService-Info-hmg

// Force bundle identifier
INFOPLIST_FILE = Runner/Info.plist
